{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}

    <div class="container text-center">
        <div class="overlay p-5">
            <h1 class="display-4 mb-4">Guest List</h1>
            <p class="lead">Enter the guests name and email address then <br> we"ll automatically send them an email
                with the invite!</p>
            <form method="post">
            {% csrf_token %}
                <p class="form-element">{{ form.name|bootstrap }}</p>
                <p class="form-element">{{ form.email|bootstrap }}</p>
                <button class="btn btn-submit btn-outline-light">Submit</button>
            </form>
        </div>
    </div>
    <div class="container text-center">
        <div class="overlay p-5">
            <h1 class="display-4 mb-4">Guest List</h1>
            <p class="lead">Here are all the people you have invited so far...</p>
            {% for person in GuestList %}
                <ul class="list-group group-space">
                    <li class="list-group-item group-color">Name: <h4>{{ person.name }}</h4></li>
                    <li class="list-group-item group-color">Email: <p>{{ person.email }}</p></li>
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}