{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<div class="container cntnrthemes">
{% for theme in Themes %}
        <div class="card" style="width: 18rem;">
          <img src={{ theme.images }} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ theme.event_type }}</h5>
            <p class="card-text">{{ theme.description }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
{% endfor %}
</div>
{% endblock %}